@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
  font-family: 'Montserrat',sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.outer-container{
  background: rgb(215, 255, 215);
  height:100dvh;
  position: relative
}


h1{
  letter-spacing: -0.5px;
  color:darkslateblue;
  font-family: 'Josefin Sans',sans-serif;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: rgb(251, 255, 255);
}

.nav-container>form>input {
  outline: none;
  background-color: rgb(243, 243, 243);
  border: none;
  padding: 0.75rem 0.75rem;
  border-radius: 500px;
  letter-spacing: -0.5px;
  opacity:0.8
}

.nav-container>form>button {
  outline: none;
  /* background-color: rgb(236, 236, 236); */
  border: none;
  background-color: transparent;
  padding: 0.25rem 1rem;
  cursor: pointer;
  font-weight: 800;
  border-radius: 500px;
  font-size: 1.75rem;
}

/* .nav-container>form>button:hover {
  background-color: rgb(219, 255, 171);
  cursor: pointer;

} */

.main{
  opacity:1;
  transition: all 2.5s;
  max-width: 70%;
  margin:1.5rem auto;
  background:azure;
h
}



/* .label_display--deposit {
  color: #5ca300;
}

.label_display--withdrawal {
  color: #ff2414;
}

.label_display--interest {
  color: #181818;
}

.label_display {
  font-weight: 700;
}

.movement-container {
  margin: 2rem;
}

.movement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: auto;
  background: rgb(236, 236, 236);
  padding: 1rem 1rem;
  border-bottom: 2px solid #d8d8d8;
}

.deposit {
  display: inline;
  background-color: #5ca300;
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  color: #e4e4e4
}

.withdrawal {
  display: inline;
  background-color: #ff2414;
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  color: #e4e4e4;
}

.text-style {
  font-weight: 600;
}

.summary-container {
  display: flex;
  gap: 2rem;
  margin: 2rem;
  font-size: 2rem;
}

.marquee-banner {
  display: block;
  font-size: 2rem;
  background-color: #e4e4e4;
  padding: 0.5rem 1rem;
}

.marquee-text {
  display: inline;
  white-space: nowrap;
  overflow-x: auto;
}

::-webkit-scrollbar {
  display: none;
}

.time {
  text-align: right;
  padding: 1rem 2rem;
  font-size: 2rem;
  color: red;
  font-style: italic;
  font-weight: 600
} */

